<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Update Employee</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                 Back</a>
            </div>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">         
                          
            <mat-form-field  appearance="outline" class="col-sm-9">
              <mat-label>First Name</mat-label>
              <input  formControlName="firstname" matInput>
               <mat-error *ngIf="form.controls.firstname.errors?.required" >Please Enter Firstname</mat-error>
             <mat-error *ngIf="form.controls.firstname.errors?.minlength">FirstName should be minimum 2 characters</mat-error>
              <mat-error *ngIf="form.controls.firstname.errors?.maxlength">FirstName should be max 10 characters</mat-error> 
            </mat-form-field>
      
              <mat-form-field  appearance="outline" class="col-sm-9">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastname" matInput>
                <mat-error *ngIf="form.controls.lastname.errors?.required" >Please Enter Lastname</mat-error>
                <mat-error *ngIf="form.controls.lastname.errors?.minlength">Lastname should be minimum 2 characters</mat-error>
                <mat-error *ngIf="form.controls.lastname.errors?.maxlength">Lastname should be max 10 characters</mat-error>
              </mat-form-field>
          
              <mat-form-field  appearance="outline" class="col-sm-9">
                <mat-label>Email ID</mat-label>
                <input formControlName="emailid" matInput>
                <mat-error *ngIf="form.controls.emailid.errors?.required">Please Enter EmailId</mat-error>
                <mat-error *ngIf="form.controls.emailid.errors?.email">Please Enter EmailId in Proper Format</mat-error>
              <mat-error *ngIf="form.controls.emailid.errors?.maxlength">EmailId should be max 100 characters</mat-error>
              </mat-form-field>
           
              <mat-form-field appearance="outline" class="col-sm-9" >
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput>
                <mat-error *ngIf="form.controls.password.errors?.required" >Please Enter Password</mat-error>
                  <mat-error *ngIf="form.controls.password.errors?.minlength" >Password should be minimum 8 characters</mat-error> 
                 <mat-error *ngIf="form.controls.password.errors?.pattern">Minimum 8 characters having Lowercase, uppercase ,numeric and special characters</mat-error>
              </mat-form-field>
           
           
              <div class="col-sm-9">
                <button  type="submit" mat-raised-button color="primary">Update Employee</button>
               <button  type="button" routerLink="/Home" mat-raised-button color="warn">Cancel</button>
              </div>    
         
         </form>
  </div>
</div>
